/*  
Nav bar css
*/

/* nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

ul {
  padding-left: 750px;
  display: inline-flex;
  font-size: 25px;
  color: wheat;
}

li {
  list-style: none;
  margin: 1rem;
}

*/

body {
  background-color: #000 !important;
  /* background-image: linear-gradient(to right, #bdc3c7, #2c3e50); */
}

.link-a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 22px;
}

.text-field {
  text-align: center;
}

.zoom {
  transition: transform 0.5s; /* Animation */
}

.zoom:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index: 9999;
}

img {
  cursor: pointer;
}

.sticky-button {
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  position: fixed;
  right: 100px;
  bottom: 20px;
  height: 60px;
  width: 60px;
}

.plus {
  font-size: 25px;
}

.modal {
  color: black;
}

.modal-footer {
  display: inline !important;
  text-align: center;
}

.Drop-Div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 10px;
}

.files-div {
  text-align: center;
  color: white;
}

.files-a {
  text-decoration: none;
  color: white;
}

.NoFile-div {
  text-align: center;
  padding-top: 10px;
  color: red;
}

/*
.Main-Card {
  width: 450px;
  margin: 5px;
  background-color: #000 !important;
}
*/

video {
  width: 100%;
}

.card-content-image {
  width: 100%;
}

/*
@media screen and (max-width: 980px) {
  .Main-Card {
    background-color: black !important;
    width: 900px;
  }
}

@media screen and (max-width: 900px) {
  .Main-Card {
    background-color: black !important;
    width: 800px;
  }
}

@media screen and (max-width: 770px) {
  .Main-Card {
    background-color: black !important;
    width: 700px;
  }
}

@media screen and (max-width: 640px) {
  .Main-Card {
    background-color: black !important;
    width: 250px;
  }
}

@media screen and (max-width: 540px) {
  .Main-Card {
    background-color: black !important;
    width: 500px;
  }
}

@media screen and (max-width: 455px) {
  .Main-Card {
    background-color: black !important;
    width: 400px;
  }
}

@media screen and (max-width: 400px) {
  .Main-Card {
    background-color: black !important;
    width: 350px;
  }
}

@media screen and (max-width: 350px) {
  .Main-Card {
    background-color: black !important;
    width: 300px;
  }
}

@media screen and (max-width: 280px) {
  .Main-Card {
    background-color: black !important;
    width: 250px;
  }
}
*/
